.navbar{
    background: rgba(255, 255, 255, 0.7);
}
.nav-title{
    font-weight: 600;
    font-size: 1.5em;
    margin: auto;
}

#intro{
    background: rgba(0, 0, 0, 0.7);
    font-size: 1.3em;
    padding: 2em;
    color: white;
}
#head{
    padding: 30vh;
    height: 100vh;
    background: #1C2B59;
}
.section-title{
    font-weight: 400;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em;
    color: white;
}

#photography{
    background: url("../img/bg-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#photography .p-1{
    padding: 0.05em !important;
}

#illustration{
    background: #1C2B59;
}

#uiux{
    background: url("../img/UI UX/bg-uiux.jpg");
    background-size: cover;
    background-attachment: fixed; 
}
#uiux img{
    width: 100%;
    height: auto;
}
.uiux-panel{
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1em;
    margin-top:3em;
}